<!--DIV de temas-->
<h5 class="display-4" align="center">Temas</h5>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Fecha de creación</th>
      <th scope="col">Nombre Autor</th>
      <th scope="col">Titulo de tema</th>
      <th scope="col">Palabras clave</th>
    </tr>
  </thead>
  <tbody *ngFor="let cust of customers "> <!--For deacuerdo a los temas creados-->
    <tr>
      <th scope="row">///</th>
      <td><a [routerLink]="['/customers', cust.id]" style="color:black"> {{ cust.firstname }}</a></td>
      <td>--</td>
      <td>---</td>
    </tr>
  </tbody>
</table>